name: Build

on:
  merge_group:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout ${{ github.repository }}
      uses: actions/checkout@v5.0.1
    - name: Install Node.js
      uses: actions/setup-node@v6.0.0
      with:
        node-version: lts/*
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
    - name: Type check
      run: npm run check
    - name: Build
      run: npm run build
